* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #cfcfcf;
}

#banner-section {
  background-color: black;
  overflow: hidden;
}
.banner-section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.banner-section-inner > h2 {
  color: #ff5e19;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3vw;
}
.banner-section-inner > p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.banner-img-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-img-2 img {
  width: 122px;
  height: 125px;
  border-radius: 20%;
}
.banner-img-1 img {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 180px;
  height: 330px;
  overflow: hidden;

  /* padding: 1rem 0 0 0; */
}
.banner-img-2 {
  background-image: url("../images/path56.png");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* card section  */
#card-section {
  padding: 30px 40px;
  background-color: rgba(27, 10, 10, 0.892);
  z-index: 99 ;
}
.card-section-inner-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 50px;
}

.cardItem {
  background-color: rgb(10, 10, 12);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center
  
}
.card-section-inner-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}
.cardItemTwo {
  background-color: #0d0d0d;
}
.cardItemInner {
  background-color: #0d0d0d;
}
/* card inner body  */
.card-innerBody {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px 10px;
}
.innerBody-items {
  display: flex;
  justify-content: space-around;
  color: white;
}

/* player list section  */
#playerList {
  height: fit-content;

}
#playerList > li{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 3px 0;


}
